In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14052,-117.14,32.76,24.0,3523.0,991.0,1775.0,873.0,2.1273,142300.0,NEAR OCEAN
9886,-122.29,38.30,52.0,144.0,54.0,89.0,48.0,1.0096,162500.0,NEAR BAY
1576,-121.99,37.81,17.0,465.0,83.0,146.0,75.0,4.9018,188500.0,<1H OCEAN
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,<1H OCEAN
20373,-118.85,34.17,42.0,564.0,96.0,220.0,81.0,4.5625,318800.0,<1H OCEAN

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [6]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [7]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [8]:
housing_data.shape

(19475, 10)

In [9]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [10]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [11]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [12]:
housing_data.shape

(19475, 14)

In [13]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
10181,-117.95,33.86,35.0,2375.0,439.0,1343.0,424.0,4.5300,193500.0,1,0,0,0,0
18088,-122.07,37.33,13.0,2173.0,349.0,891.0,345.0,8.0158,420000.0,1,0,0,0,0
6477,-118.08,34.09,32.0,3214.0,718.0,2316.0,751.0,3.7066,206800.0,1,0,0,0,0
4120,-118.19,34.14,46.0,2387.0,488.0,1181.0,456.0,3.6058,257900.0,1,0,0,0,0
20013,-119.01,36.02,17.0,3915.0,742.0,1768.0,688.0,2.3750,79800.0,0,1,0,0,0

In [14]:
median = housing_data['median_house_value'].median()

median

173800.0

In [15]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [16]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
4407,-118.23,34.09,47.0,859.0,239.0,913.0,234.0,2.6442,136100.0,1,0,0,0,0,False
11895,-117.36,33.97,32.0,1625.0,335.0,1212.0,327.0,2.7596,82200.0,0,1,0,0,0,False
20360,-118.94,34.17,16.0,3746.0,508.0,1556.0,452.0,6.3303,299400.0,1,0,0,0,0,True
211,-122.22,37.79,52.0,3424.0,690.0,2273.0,685.0,3.9048,164700.0,0,0,0,1,0,False
4904,-118.26,34.01,38.0,697.0,208.0,749.0,206.0,1.4653,118800.0,1,0,0,0,0,False

In [17]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [18]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [20]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [21]:
y_train.shape, y_test.shape

((15580,), (3895,))

### Train a logistic regression model for price classification

In [22]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [23]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.8195121951219512

In [24]:
y_pred = logistic_model.predict(x_test)

In [25]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
4418        True    True
440         True   False
10578       True    True
6081        True    True
5160       False   False
6076        True    True
12740      False   False
2849       False   False
17906       True    True
4273        True   False

In [26]:
from sklearn.metrics import accuracy_score

print("Testing_score : ", accuracy_score(y_test, y_pred))

Testing_score :  0.8220795892169448